{% extends 'layout.html.twig' %}

{% block title %}
	KNOWLEDGE
{% endblock %}


{% block css %}
	{# <link rel="stylesheet" href="/assets/css/home.css"> #}
{% endblock %}


{% block content %}

	<div class="body-size bg-clair"></div>

{% endblock %}
