    * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        /* font-family: gatwick; */
    }

    :root {
        --color-green: #223d3c;
        --color-grey: #dfd2e0;
    }

    .header {
        height: 60px;
    }

    .footer {
        height: 40px;
    }

    .logo-header {
        height: 60px;
        width: 80px;
    }

    .main-frame {
        height: calc(100vh - 60px - 40px);
    }

    .text-color-green {
        color: var(--color-green);
    }

    .text-color-clair {
        color: var(--color-grey);
    }

    /* .text-color-white {
        color: white;
    } */

    .bg-clair {
        background-color: var(--color-grey);

    }

    .bg-green {
        background-color: var(--color-green);
    }


    .bg-light-grey {
        background-color: lightgrey;
    }

    /* home page */
    .list-group-item:hover {
        color: var(--color-green);
        background-color: var(--color-grey);
    }