    * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        /* font-family: gatwick; */

    }

    :root {
        --color-green: #223d3c;
        --color-mauve: #dfd2e0;
    }


    /* header */

    .header {
        height: 60px;
    }

    .logo {
        height: 60px;
        width: 80px;
    }


    .list-group-item:hover {
        color: var(--color-green);
        background-color: var(--color-mauve);
    }

    .body-h {
        height: calc(100vh - 60px - 40px);
    }

    .footer {
        height: 40px;
    }

    .text-color-green {
        color: var(--color-green);
    }

    .text-color-clair {
        color: var(--color-mauve);
    }

    .text-color-white {
        color: white !important;
    }

    .bg-clair {
        background-color: var(--color-mauve);

    }

    .bg-green {
        background-color: var(--color-green);
    }


    .bg-light-grey {
        background-color: lightgrey;
    }