/* ---------- Theme page ---------- */

.main-frame {
    height: calc(100vh - 60px - 40px - 40px);
}

.nav-h {
    height: 40px;
}

.weight-300 {
    width: 300px;
} 

.notion-list {
    height: 650px;
}

.body-margin {
    margin-left: 300px;
}

.lecon-exemples-card {
    min-height: 300px;
}

.textarea-form {
    border: none;
    overflow: auto;
    outline: none;
    box-shadow: none;
    resize: none;
}

a:hover,
.hover:hover {
    color: red;
}

.dropdown-menu {
    max-height: 500px;
    overflow-y: auto;
}

.list-group-item a {
    text-decoration: none;
}

.form-file::before {
    content: "Image à inclure";
    position: absolute;
    background-color: #eee;
    width: 120px;
}

.button-margin-bottom {
    margin-bottom: 200px;
}