<div class="container-fluid footer bg-white">
	<div class="p-2 d-flex align-items-center justify-content-center">
		<p class="h5 text-color-green">
			<strong>"PARTAGEONS NOS CONNAISSANCES"</strong>
		</p>
	</div>
</div>
