<div class="container-fluid header">
	<div class="d-flex align-items-center justify-content-between">
		<a href="/">
			<img class="logo-header" src="/assets/images/logo.png" alt="logo">
		</a>
		<p class="h3 text-color-green">
			<strong>{{ headerTitle }}</strong>
		</p>
		<p class="h4 text-color-green">
			<strong>Welcome</strong>
		</p>
	</div>
</div>
