{% extends 'Layout/index.html.twig' %}

{% block title %}
	Notion - ajouter une nouvelle notion
{% endblock %}


{% block css %}
	<link rel="stylesheet" href="/assets/css/notion.css">
{% endblock %}

{% block content %}

	<div class="container-fluid bg-clair">

		<div class="row d-flex justify-content-center ">

			<div class="col-8">

				<div class="mt-5 input-group input-group-lg">
					<span class="col-4 input-group-text fs-4 text-color-clair bg-green">
						Nom de la notion
					</span>
					<input type="text" class="form-control" placeholder="nom notion">
				</div>

				<div class="mt-5 form-group">
					<label class="col-4 mb-0 rounded-top rounded-0 input-group-text fs-4 text-color-clair bg-green form-label mt-4">Lecon</label>
					<textarea class="form-control rounded-0 rounded-bottom" rows="10"></textarea>
				</div>

				<div class="mt-5 form-group">
					<label class="col-4 input-group-text fs-4 text-color-clair bg-green form-label mt-4">Exemples</label>
					<textarea class="form-control rounded-0 rounded-bottom" rows="10"></textarea>
				</div>

				<div
					class="mt-2 form-group">
					{# <label class="form-label mt-4">Fichier image à inclure</label> #}
					<input class="form-file form-control" type="file">
				</div>

			</div>
		</div>

		<div class="row d-flex mt-5 mb-5 justify-content-around">
			<button type="submit" class="mt-5 mb-5 w-25 btn btn-lg btn-primary">Annuler</button>
			<button type="submit" class="mt-5 mb-5 w-25 btn btn-lg btn-primary">Valider</button>

		</div>


	</div>

{% endblock %}
