{% extends 'Layout/index.html.twig' %}

{% block title %}
	Notion - ajouter une nouvelle notion
{% endblock %}


{% block css %}
	<link rel="stylesheet" href="/assets/css/notion.css">
{% endblock %}

{% block content %}
	<form method="post" enctype="multipart/form-data">
		<div class="container-fluid bg-clair">

			<div class="row d-flex justify-content-center ">

				<div class="col-8">

					<div class="mt-5 input-group input-group-lg">
						<span class="col-4 input-group-text fs-4 text-color-clair bg-green">
							Nom de la notion
						</span>
						<input type="text" class="form-control" name="notion" placeholder="nom notion" value="{{ notionName }}">
					</div>

					<div class="mt-5 form-group">
						<label class="col-4 mb-0 rounded-top rounded-0 input-group-text fs-4 text-color-clair bg-green form-label mt-4">Lecon</label>
						<textarea class="form-control rounded-0 rounded-bottom" rows="10" name="lesson">{{ lesson }}</textarea>
					</div>

					<div class="mt-5 form-group">
						<label class="col-4 input-group-text fs-4 text-color-clair bg-green form-label mt-4">Exemple</label>
						<textarea class="form-control rounded-0 rounded-bottom" rows="10" name="sample">{{ sample }}</textarea>
					</div>

					<div class="mt-2 form-group">
						<input class="form-file form-control" type="file" name="filename">
					</div>

				</div>
			</div>

			<div class="row d-flex mt-5 mb-5 justify-content-around">
				<button type="submit" class="mt-5 mb-5 w-25 btn btn-lg btn-primary" value="Annuler" name="button">Annuler</button>
				<button type="submit" class="mt-5 mb-5 w-25 btn btn-lg btn-primary" value="Valider" name="button">Valider</button>

			</div>
		</div>

	</form>
{% endblock %}
