{% extends 'Layout/index.html.twig' %}

{% block title %}
	Accueil - page theme
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="/assets/css/notion.css">
{% endblock %}


{% block navbar %}
	{% include 'Notion/subjectmenu.html.twig' %}
{% endblock %}

{% block content %}

	<div
		class="container-fluid p-0 overflow-hidden">

		{# {% if notions is not empty %} #}
		{% include 'Notion/notionlist.html.twig' %}
		{# {% endif %} #}

		{% if notion %}
			{% include 'Notion/notion.html.twig' %}
		{% else %}
			{% include 'Notion/notionlogo.html.twig' %}
		{% endif %}


	</div>


{% endblock %}
