{% extends 'Layout/index.html.twig' %}

{% block title %}Accueil - Page theme
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="/assets/css/notion.css">
{% endblock %}

{% block navbar %}
	{% include 'Notion/subject_menu.html.twig' %}
{% endblock %}

{% block content %}

	<div
		class="container-fluid p-0 overflow-hidden">

		{# {% if notions is not empty %} #}
		{% include 'Notion/notion_list.html.twig' %}
		{# {% endif %} #}


		{% if notion %}
			{% include 'Notion/notion.html.twig' %}
		{% else %}
			{% include 'Notion/notion_logo.html.twig' %}
		{% endif %}

	</div>

{% endblock %}
